.is-hidden {
	display: none;
}

.cc-autocomplete {
	position: relative;
	margin: 5px;
	width: 800px;
}

.cc-autocomplete .cc-input {
	border: 1px solid #999;
	padding: 2px;
	border-radius: 3px;
}

.cc-autocomplete .cc-input .cc-autofill {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 2px;
	padding: 2px;
	background-color: #dddddd;
	vertical-align: middle;
}

.cc-autocomplete .cc-input .cc-autofill:hover,
.cc-autocomplete .cc-input .cc-autofill:focus {
	background-color: #f4f4f4;
}

.cc-autocomplete .cc-input .cc-autofill-span {
	display: block;
}

.cc-autocomplete .cc-input .cc-autofill-text {
	display: inline-block;
	color: #666;
}

.cc-autocomplete .cc-input .cc-autofill-remove {
	display: inline-block;
	margin: 2px;
	/*font-size: 1.2rem;*/
	color: #999;
}

.cc-autocomplete .cc-input .cc-autofill-remove:hover {
	cursor: pointer;
}

.cc-autocomplete .cc-input .cc-textarea {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	font-size: .8rem;
	border: 0;
	margin: 0;
	padding: 6px;
	background-color: #f6f6f6;
	outline: none;
	resize: none;
	overflow: hidden;
	vertical-align: middle;
}

.cc-autocomplete .cc-input .cc-textarea:invalid {
 	background-color: #ffdddd;
}

.cc-suggestions {
	background-color: #fff;
	position: absolute;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 4px;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*.cc-suggestions::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
	display: none;
}*/

.cc-suggestions .cc-suggestion {
	background-color: #f4f4f4;
	border: 2px solid #fff;
	border-radius: 3px;
	/*margin: 1px;*/
	padding: 7px;
	padding-right: 20px;
	color: #666;
	overflow: visible;
}

.cc-suggestions .cc-suggestion:hover, .cc-suggestions .cc-suggestion:focus {
	background-color: #dfdfdf;
	cursor: pointer;
}